<a href="/dashboard">&larr;</a>
<div class="admin-title">
    <h2>Edit / View Post</h2>
    <form action="/delete-post/<%= data._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete" class="btn-delete btn">
    </form>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="post" class="addpost">

    <label for="title"><b>Title</b></label>
    <input type="text" name="title" id="title" placeholder="Title" value="<%= data.title %>">

    <label for="body"><b>Content</b></label>
    <textarea name="body" id="" cols="50" rows="10"><%= data.body %></textarea>

    <input type="submit" value="Update" class="btn">

</form>