<h1 class="admin-only">Admins Only</h1>

<form action="/admin" method="post" class="admin-signin">
    <label for="username"><b>Username : </b></label>
    <input type="text" name="username" id="username" placeholder="Enter username">

    <label for="password"><b>Password : </b></label>
    <input type="password" name="password" id="password" placeholder="Enter password">

    <input type="submit" value="Login" class="btn">
    
</form>

<!-- <h1>Register</h1>

<form action="/register" method="post">
    <label for="username"><b>Username : </b></label>
    <input type="text" name="username" id="username" placeholder="Enter UserName">

    <label for="password"><b>Password : </b></label>
    <input type="password" name="password" id="password" placeholder="Enter password">

    <input type="submit" value="register" class="btn">
    
</form> -->