<hr>
<footer class="footer">
    <div class="footer-links">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/privacy">Privacy Policy</a>
    </div>

    <div class="social-links">
        <a href="https://www.instagram.com/imdaakuu?igsh=bmd0ZmwzeWZpdjJw" target="_blank"><i
                class="ri-instagram-fill"></i></a>
        <a href="https://github.com/bichitrabehera" target="_blank"><i class="ri-github-fill"></i></a>
        <a href="https://www.linkedin.com/in/bichitra-behera-99b189291?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"><i class="ri-linkedin-box-fill"></i></a>
    </div>
    <p>&copy; <%= new Date().getFullYear() %> Made By Bichitra Behera | Built for Developers</p>
    <p class="tagline">Stay connected and keep learning with our latest blog updates!</p>
</footer>