<footer class="footer">
  <p>
    &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    Made by Bichitra Behera | Built for Developers
  </p>
  <p class="tagline">
    Stay inspired and keep learning with my latest blog insights!
  </p>
</footer>
