<header class="header">
  <a href="/" class="header_logo">Admin</a>
  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>

    <button class="searchBtn">
      <a href="/logout"><i class="ri-logout-circle-r-line"></i></a>
    </button>
  </nav>
</header>
<hr />
