<div class="author">  
  <p>Passionate Web Developer sharing insights, tips, and experiences.</p>  
  <p>Dive into my latest tutorials, projects, and development journeys.</p>  
</div>


<section class="articles">
  <h2>Latest Posts</h2>
  <ul class="articles-ul">
    <% data.forEach(post=> { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span> <%= post.title %> </span>
        <span class="articles-list_date">
          <%= post.createdAt.toDateString() %>
        </span>
      </a>
    </li>
    <% }); %>
  </ul>

  <% if (nextPage !==null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>
